@import url('https://fonts.googleapis.com/css2?family=Anta&family=Quicksand:wght@300..700&display=swap');
body{
    background-image: url(7756629.jpg);
}
* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.title p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: blueviolet;
    color: #FFCCCC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FFCCCC;
}
